<section class="hero is-primary is-small animated slideInDown">
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a routerLink="/" class="navbar-item pacifico medium-text">
                            Mejor con Salud
                        </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                      <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                        <a routerLink="/" class="button is-success is-inverted">
                          <span class="icon">
                            <i class="fa fa-power-off"></i>
                          </span>
                        <span>Sair</span>
                        </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>
</section>